<!doctype html>
<html lang="en">
<head>
    <title>Gallerie </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Abril+Fatface:400,700" rel="stylesheet">

    <meta name="description" content="" />
    <meta name="keywords" content="free template, free bootstrap, free website template" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="stylesheet" href="css/animsition.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">



</head>
<body>
<div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">

    <header class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 site-logo" data-aos="fade"><a href="index.html" class="animsition-link">Gallerie </a></div>
                <div class="col-8">


                    <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- END menu-toggle -->

                    <div class="site-navbar js-site-navbar">
                        <nav role="navigation">
                            <div class="container">
                                <div class="row full-height align-items-center">
                                    <div class="col-md-12 justify-content-center">
                                        <ul class="list-unstyled menu">
                                            <li><a href="{{path('tunisie_homepage')}}" class="animsition-link">Home</a></li>
                                            <li><a href="hotel.html" class="animsition-link">Hotels</a></li>
                                            <li><a href="about.html" class="animsition-link">About Us</a></li>
                                            <li  class="active"><a href="{{path('tunisie_gallerie')}}" class="animsition-link">Gallery</a></li>
                                            <li><a href="blog.html" class="animsition-link">News</a></li>
                                            <li><a href="contact.html" class="animsition-link">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END head -->

    <section class="site-hero overlay page-inside" style="background-image: url(images/sea2.jpg)">
        <div class="container">
            <div class="row site-hero-inner justify-content-center align-items-center">
                <div class="col-md-10 text-center">
                    <h1 class="heading" data-aos="fade-up">Gallery</h1>
                    <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
                        A free template by <a href="#" target="_blank">Colorlib</a>. Download and share!
                    </p>
                </div>
            </div>
            <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
        </div>
    </section>
    <!-- END section -->


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea1.jpg" data-fancybox="gallery"><img src="images/sea1.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea2.jpg" data-fancybox="gallery"><img src="images/sea2.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea3.jpg" data-fancybox="gallery"><img src="images/sea3.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea4.jpg" data-fancybox="gallery"><img src="images/sea4.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea5.jpg" data-fancybox="gallery"><img src="images/sea5.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea6.jpg" data-fancybox="gallery"><img src="images/sea6.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea7.jpg" data-fancybox="gallery"><img src="images/sea7.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea8.jpg" data-fancybox="gallery"><img src="images/sea8.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-6 mb-4">
                    <a href="images/sea9.jpg" data-fancybox="gallery"><img src="images/sea9.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-6 mb-4">
                    <a href="images/sea10.jpg" data-fancybox="gallery"><img src="images/sea10.jpg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea11.jpg" data-fancybox="gallery"><img src="images/sea11.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea13.jpg" data-fancybox="gallery"><img src="images/sea13.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea14.jpeg" data-fancybox="gallery"><img src="images/sea14.jpeg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea15.jpg" data-fancybox="gallery"><img src="images/sea15.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea16.jpg" data-fancybox="gallery"><img src="images/sea16.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea17.jpg" data-fancybox="gallery"><img src="images/sea17.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea18.jpg" data-fancybox="gallery"><img src="images/sea18.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea19.jpg" data-fancybox="gallery"><img src="images/sea19.jpg" alt="Image" class="img-fluid"></a>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <a href="images/sea20.jpg" data-fancybox="gallery"><img src="images/sea20.jpg" alt="Image" class="img-fluid"></a>
                </div>





            </div>
        </div>
    </section>

    <footer class="section footer-section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-3 mb-5">
                    <h3>Quick Link</h3>
                    <ul class="list-unstyled link">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Rooms</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h3>Support</h3>
                    <ul class="list-unstyled link">
                        <li><a href="#">Our Location</a></li>
                        <li><a href="#">The Hosts</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Restaurant</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5 pr-md-5 contact-info">
                    <h3>Contact Info</h3>
                    <p><span class="d-block">Address:</span> <span> 98 West 21th Street, Suite 721 New York NY 10016</span></p>
                    <p><span class="d-block">Phone:</span> <span> (+1) 435 3533</span></p>
                    <p><span class="d-block">Email:</span> <span> info@yourdomain.com</span></p>
                </div>
                <div class="col-md-3 mb-5">
                    <h3>Subscribe</h3>
                    <p>Sign up for our newsletter</p>
                    <form action="#" class="footer-newsletter">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your email...">
                            <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row bordertop text-center pt-5">
                <p class="col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                <p class="col-md-12 social">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                    <a href="#"><span class="fa fa-youtube"></span></a>

                </p>
            </div>
        </div>
    </footer>
</div> <!-- .animsition -->

<script src="{{ asset ('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset ('js/popper.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset ('js/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset ('js/animsition.min.js') }}"></script>
<script src="{{ asset ('js/aos.js') }}"></script>
<script src="{{ asset ('js/main.js') }}"></script>
</body>
</html>